<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key><string>Anno</string>
    <key>CFBundleIdentifier</key><string>org.anno.Anno</string>
    <key>CFBundleName</key><string>Anno</string>
    <key>CFBundleShortVersionString</key><string>1.0</string>
    <key>CFBundleVersion</key><string>1</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>org.anno.pilgrimage</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>anno</string>
            </array>
        </dict>
    </array>
    <key>UILaunchScreen</key><dict></dict>
    <key>ITSAppUsesNonExemptEncryption</key><false/>
</dict>
</plist>
