<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key><string>Reliquary Explorer</string>
    <key>CFBundleIdentifier</key><string>org.pilgrimage.ReliquaryExplorerVision</string>
    <key>CFBundleName</key><string>ReliquaryExplorer</string>
    <key>CFBundleShortVersionString</key><string>1.0</string>
    <key>CFBundleVersion</key><string>1</string>
    <key>UILaunchScreen</key><dict></dict>
    <key>NSLocationWhenInUseUsageDescription</key><string>Used to show nearby sacred sites and reliquary geofences.</string>
</dict>
</plist>
